body {
    margin-top: 135px; }
  
  .navbar {
    box-shadow: 2px 4px 5px #3292a6;
    opacity: 0.5;
    background: #fff; 
}
    .navbar .nav-item {
      font-size: 1.5rem;
      padding-right: 1.5rem; 
    }
  
    .post a{
        text-decoration: none;
        color: #444666;
    }
     .post:hover .post-link{
        text-decoration: none;
        color: #3292a6;
    }

     .post-meta{
         /* margin-top: 40px; */
         /* margin-top: -15px; */
     }

    .post-meta a{
       text-decoration: none;
        color: gray;
    }

.post-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue', 'Helvetica,Arial,sans-serif';
}

.post-subtite {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue', 'Helvetica,Arial,sans-serif';
}

.hr {
    box-shadow: 1px 1px 2px #3292a6;
    opacity: 0.95;
    background: #fff;
    margin-top: -9px;
    }

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}