body {
    margin-top: 135px; }
  
  .navbar {
    box-shadow: 2px 4px 5px #3292a6;
    opacity: 0.8;
    background: #fff; 
}
    .navbar .nav-item {
      font-size: 1.5rem;
      padding-right: 1.5rem; 
    }
  
    /* section p {
        margin-top: 15px;
        margin-bottom: 15px; 
    } */

    .post-link{
        direction: none;
    }

    .post-link:hover{
        text-decoration: #3292a6;
        color: #3292a6;
    }

.post-title{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue', 'Helvetica,Arial,sans-serif';
    text-decoration: none;

    color: #868e96;
}

.post-title a {
    text-decoration: none;
}

.post-preview > a > .post-title {
    font-size: 36px;
}

.post-subtite {
    font-weight: 600;
    font-family: 'Open Sans','Helvetica Neue', 'Helvetica,Arial,sans-serif';
    margin: 0 0 10px;
    color: #868e96;
}

.post-preview > .post-meta {

    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}